
<div class="panel">
    <div class="panel-heading clearfix">
        <h3>Assessments</h3>
        <ul class="panel_menu">
            <li><a href="#">User</a></li>
            <li><a href="#">Role</a></li>
            <li><a href="#">Clients</a></li>

        </ul>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" />
                        </div>
                    </div>
                    <div class="col-sm-4 filter_txt">
                        <a href="#" class="filter"><i class="fa fa-plus-circle" aria-hidden="true"></i> Show Filters</a>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control">
                        <option>InBound</option>
                        <option>OutBound</option>

                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <select class="form-control">
                        <option>Current Year - 2016</option>
                        <option>Past Year - 2015</option>
                        <option>Open</option>
                        <option>Archived</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <ul class="create_dropdown">
                    <li><a href="#">Create</a>
                        <ul>
                            <li><a href="#">Send Wizard</a></li>
                            <li><a href="#">Create New</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Publish</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sub_filtes">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Questionnaire</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Company</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 edit_icons">
                    <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>
            <!--     <div class="seprate_btn">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default">And</button>
                                    <button type="button" class="btn btn-default">Or</button>
                                </div>
                            </div>-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Product/Service</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <select class="form-control">
                            <option>Date Published</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4 edit_icons">
                    <a href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                </div>
            </div>

        </div>
        <div class="overflow">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Questionnaire</th>
                        <th>Company</th>
                        <th>Product/Service</th>
                        <th>Date Published</th>
                        <th>Due Date</th>
                        <th class="wid250">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">SGIC Lite</a></td>
                        <td>
                            <div class="table_logo">
                                <img src="/assets/img/lending-club-logo2.png" alt="" style="width: 160px;" />
                            </div>
                        </td>
                        <td>Bittpay</td>
                        <td>July 15, 2016</td>
                        <td>July 16, 2016</td>
                        <td>
                            <span class="progress_txt">Complete</span>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    60%
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">SGIC Lite</a></td>
                        <td>
                            <div class="table_logo">
                                <img src="/assets/img/mastercard-brand.png" alt="" style="width: 60px;" />
                            </div>
                        </td>
                        <td>Instacash</td>
                        <td>January 3, 2016</td>
                        <td>January 1, 2016</td>
                        <td>
                            <span class="progress_txt">Complete</span>
                            <div class="progress">

                                <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;">
                                    33%
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="panel-pagination clearfix">
            <!-- <nav>
                                <ul class="pager">
                                    <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Older</a></li>
                                    <li class="next"><a href="#">Newer <span aria-hidden="true">&rarr;</span></a></li>
                                </ul>
                            </nav>-->
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>


